usernames.txt~ 
data/tmp1.txt 
old_data/ 
data/user_progress.csv 
all_outputs 
data/__pychache__/ 
data/ordering_list_hazel.txt~ 
data/generate_file_order.py 
__pycache__ 
data/.user_progress.csv.un~ 
.usernames.txt.un~ 
data/.ordering_list_hazel.txt.un~ 
