<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/highlight.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/tabs.js') }}"> </script>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav">

        <li id = "link_Statistics" class = "tablinks" onclick = "openTab(event, 'Statistics')"> <a href="#"> Statistics </a> </li>
        {% for tab in tabs %}
          <li id = 'link_{{ tab[0] }}' class="tablinks" onclick="openTab(event, '{{ tab[0] }}')"> <a href="#"> {{ tab[0] }} </a> </li>
        {% endfor %}

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Doctors <span class="caret"></span></a>
          <ul id = "doctors_selected" class="dropdown-menu">
            {% for name in doctor_names %}
              <li> <input id = '{{ name }}' type="checkbox" style = "margin-left: 5px;" onclick = "highlight_main()" checked/>&nbsp; {{ name }} </a> </li>
            {% endfor %}
          </ul>

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Other Article <span class="caret"></span></a>
            <ul class="dropdown-menu">
              {% for name in ordering %}
              <li> <!-- http://127.0.0.1:5000/annotate_full/ -->
                <a id = '{{ name }}' href="http://ec2-18-219-1-213.us-east-2.compute.amazonaws.com:8082/annotate_full/{{ name }}"> {{ name }} </a>
              </li>
              {% endfor %}
            </ul>
        </li>


      </ul>
    </div>
  </nav>

  <!-- Initialize the tab with titles . -->
  <div>

    <div id = "Statistics" class = "tabcontent" style = "max-height: 400px; overflow: auto;">

      <div class = "column" style = "margin-left: 1%; float:left;">
        <b> Document answer: {{ answer }} </b>
        <br> <br>
        {%for d in doct_ans_names %}
          <b> {{ d[0] }}: </b> {{ d[1] }} <br>
        {% endfor %}
      </div>

      <div id="piechart" style = "float:left;"> </div>

      <div id = "Statistics_content"> </div>

  </div>
    <!-- Create a place to put content for each tab. -->
    {%for tab in tabs %}
    <div id = '{{ tab[0] }}', class="tabcontent" style = "max-height: 400px; overflow: auto;">
    </div>
    {% endfor %}
  </div>

  <!-- The prompt -->
  <div class = "row">
    <label style = "margin-left: 45px; margin-top: 20px;">
      With respect to <b> <i> {{ outcome }}, </i> </b> characterize the
      reported difference between patients receiving <b> <i>
      {{ intervention }} </i> </b> and those receiving <b> <i> {{ comparator }}.
      </i> </b>
    </label>
</div>


  <a href="#" id = "previous-but" class="previous" style= "position: fixed; bottom: 0%; right: 92.5%;" onclick = "previous()">&laquo; Previous</a>
  <a href="#" id = "next-but" class="next" style= "position: fixed; bottom: 0%; right: 1.5%;" onclick = "next()">Next &raquo;</a>


  <script type="text/javascript">
    // Load google charts
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {
      var doct_answer = {{ doct_ans|tojson }};
      var data = google.visualization.arrayToDataTable(doct_answer);

      // Optional; add a title and set the width and height of the chart
      var options = {'title':'Doctor Response', 'width':550, 'height':400};

      // Display the chart inside the <div> element with id="piechart"
      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      chart.draw(data, options);
    }
  </script>


  <script>
    // Put the content into the first tab.
    var tab = {{ tabs|tojson }};
    breakDownText(tab);
    // Open the first tab.
    var tablinks = document.getElementsByClassName("tablinks");
    tablinks[0].click();
  </script>

  <script>
    // This script is going to blur out the id for this page
    var element = document.getElementById('{{ artid }}');
    element.classList += "isDisabled";

    var current = "{{ artid }}";
    var ordering = {{ ordering|tojson|safe  }};

    // disable the next previous buttons if we are first or last
    if (ordering.length > 0 && current == ordering[0]) {
      element = document.getElementById("previous-but");
      element.classList += "isDisabled";
      element.style.visibility = 'hidden';
    }

    if (ordering.length > 0 && current == ordering[ordering.length - 1]) {
      element = document.getElementById("next-but");
      element.classList += "isDisabled";
      element.style.visibility = 'hidden';
    }

    // Set up the checkboxes
    //var check = document.getElementById("doctors_selected").children;


  </script>

  <script>
    // Set up the next/prev button
    function findX(next_prev) {
      var current = "{{ artid }}";
      var ordering = {{ ordering|tojson }};
      var location = "";

      for (var i = 0; i < ordering.length; i++) {
        if (current == ordering[i]) {

          return ordering[i + next_prev];
        }
      }

      return "";
    }

    function next() {
      var next_loc = findX(1);
      window.location.replace("http://ec2-18-219-1-213.us-east-2.compute.amazonaws.com:8082/annotate_full/" + next_loc);
    }

    function previous() {
      var prev_loc = findX(-1);
      window.location.replace("http://ec2-18-219-1-213.us-east-2.compute.amazonaws.com:8082/annotate_full/" + prev_loc);
    }
  </script>

  <script>
    function highlight_main() {

      // highlight the text_element
      var doct_reason = {{ doct_reason|tojson }};
      highlight_all(doct_reason, getDoctorSelected());

      var add_to = document.getElementById("Statistics_content");
      // add in the beginnining section that has what everyone highlights
      for (var i = 0; i < doct_reason.length; i++) {
        add_to.innerHTML += "<b>" + doct_reason[i][0] +  "</b>" + ": " + doct_reason[i][1] + "<br>";
      }
    }

    highlight_main();



  </script>


  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
