<!DOCTYPE html>
<html>
<head>
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/post.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/button.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/highlight.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/tabs.js') }}"> </script>

  </head>
</head>
<body style = "width: 100%; height: 100%;">

  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav">

        <li id = "link_Statistics" class = "tablinks" onclick = "openTab(event, 'Statistics')"> <a href="#"> Statistics </a> </li>
        {% for tab in tabs %}
          <li id = 'link_{{ tab[0] }}' class="tablinks" onclick="openTab(event, '{{ tab[0] }}')"> <a href="#"> {{ tab[0] }} </a> </li>
        {% endfor %}

      </ul>
    </div>
  </nav>

  <!-- Initialize the tab with titles . -->
  <div style = "height: 100%; width: 100%;">

    <div id = "Statistics" class = "tabcontent statistic_content">

      <div id = "all_doctor_answer" class = "column" style = "margin-left: 1%; float:left;">
        <b> Annotator 1:</b> {{ answer }}
        <br>
        {%for d in doct_ans_names %}
          <div id = "ans_{{ d[0] }}"> <b> {{ d[0] }}: </b> {{ d[1] }}</div>
        {% endfor %}
      </div>

      <div id="piechart" style = "float:left;"> </div>

      <div id = "Statistics_content">
      </div>

  </div>
    <!-- Create a place to put content for each tab. -->
    {% for tab in tabs %}
    <div id = '{{ tab[0] }}', class="tabcontent" style = "max-height: 60vh; overflow: auto;">
    </div>
    {% endfor %}
  </div>

  <!-- Display the prompt -->
  <div class = "row">
    <label style = "margin-left: 45px; margin-top: 20px;">
      With respect to <span id = "outcome">{{ outcome }}</span>, characterize the
      reported difference between patients receiving <span id = "intervention">
      {{ intervention }}</span> and those receiving <span id = "comparator">{{ comparator }}</span>.
    </label>
  </div>

  <!-- Display the options and a submit button -->
  <div class = "row" style = "margin-left: 2%;">

    <!-- Ask user to determine the validity of the prompt -->
    <div id = "prompt-answer" class = "column prompt-col">
      <b> <i> Prompt Validity </i> </b>
      <!-- Multiple choice -->
      <form>
        <!-- Good answer -->
        <div class="radio">
          <label> <input type="radio" name="optradio" onclick = "enable_submit()">
            Accept
          </label>
        </div>

        <div class="radio">
          <label> <input type="radio" name="optradio" onclick = "enable_submit()">
            Reject
          </label>
        </div>

      </form>
    </div>


    <div id = "answers" class = "row" style = "content: ""; display: table; clear: both; margin-left: 1%">

      <div class = "column answer-col">
        <b> <i> Annotator 1 </i>Answer: </b>
        <!-- Multiple choice -->
        <form>
          <!-- Good answer -->
          <div class="radio">
            <label> <input type="radio" name="optradio" onclick = "enable_submit()">
              Accept
            </label>
          </div>

          <!-- Bad answer -->
          <div class="radio">
            <label> <input type="radio" name="optradio" onclick = "enable_submit()">
              Reject
            </label>
          </div>
        </form>

        <!-- The last one for the answer check -->
        <b> <i> Annotator 1 </i>Reasoning: </b>
        <form>
          <div class="radio">
            <label> <input type="radio" name="optradio" onclick = "enable_submit()">
              Accept
            </label>
          </div>

          <div class="radio">
            <label> <input type="radio" name="optradio" onclick = "enable_submit()">
              Reject
            </label>
          </div>
        </form>

      </div>

      <!-- Create a form for each doctor -->
      {% for n in hide_names %}
      <div class = "column answer-col">
        <b> <i> {{ n }} </i>Answer: </b>
        <!-- Multiple choice -->
        <form>
          <!-- Good answer -->
          <div class="radio">
            <label> <input type="radio" name="optradio" onclick = "enable_submit()">
              Accept
            </label>
          </div>

          <!-- Bad answer -->
          <div class="radio">
            <label> <input type="radio" name="optradio" onclick = "enable_submit()">
              Reject
            </label>
          </div>
        </form>

        <!-- Quote selection choice -->
        <b> <i> {{ n }} </i>Reasoning: </b>
        <form>
          <div class="radio">
            <label> <input type="radio" name="optradio" onclick = "enable_submit()">
              Accept
            </label>
          </div>

          <div class="radio">
            <label> <input type="radio" name="optradio" onclick = "enable_submit()">
              Reject
            </label>
          </div>
        </form>
      </div>
      {% endfor %}

    </div>

    <!-- Submit button -->
    <button type="button" id= "submit-but" onclick = "submit_final()" class="btn btn-success" style = "margin-top: 20px;" disabled>
      Submit
    </button>

  </div>

  <script>
    // Put the doctor responses into storage.
    var elem = document.createElement('div');
    elem.dataset.pie = {{ doct_ans|tojson }};
    elem.id = "data-pie";
    document.body.appendChild(elem);

    // Put doctor names into storage.
    var elem2 = document.createElement("div");
    elem2.dataset.names = {{ doctor_names|tojson }};
    elem2.id = "data-names";
    document.body.appendChild(elem2);

    // Put doctor names into storage.
    var elem3 = document.createElement("div");
    elem3.dataset.names = {{ hide_names|tojson }};
    elem3.id = "data-hide";
    document.body.appendChild(elem3);
  </script>

  <script>
    // Put the content into the first tab.
    var tab = {{ tabs|tojson }};
    breakDownText(tab);
    // Open the first tab.
    var tablinks = document.getElementsByClassName("tablinks");
    tablinks[0].click();
  </script>

  <script>

    function highlight_main() {

      // get the data and store it
      var doct_reason = {{ doct_reason|tojson }};
      var elem = document.createElement('div');
      var saved = [];
      for (var i = 0; i < doct_reason.length; i++) {
        saved = saved.concat(doct_reason[i]);
      }

      elem.dataset.doct_reason = saved.slice().join("!!!");
      elem.id = "data-doct-reason";
      document.body.appendChild(elem);

      // put answer key up
      var add_to = document.getElementById("Statistics_content");
      add_to.innerHTML += "<b>Annotator 1:</b> <span style = 'font-weight: normal;' id = 'answer-key'>{{ reasoning }}</span> <br>";

      highlight_all(doct_reason, getDoctorSelected());
      reset_answer(); // reset the answer key


      // add in the beginnining section that has what everyone highlights
      for (var i = 0; i < doct_reason.length; i++) {
        if (doct_reason[i][1].includes("</td>")) {
          var data = "";
          var tmp_arr = $(doct_reason[i][1]);
          for (var j = 0; j < tmp_arr.length; j++) {
            data += tmp_arr[j].innerText;
          }

          doct_reason[i][1] = data;
        }

        add_to.innerHTML += "<div id = res_" + doct_reason[i][0] + "> <b>" + doct_reason[i][0] +  "</b>" + ": " + doct_reason[i][1] + "<br> </div>";
      }
    }

    highlight_main();

  </script>

  <!-- Storing of data to be used for later when submitting -->
  <div id="store">
      <p id="userid">{{ userid }}</p>
      <p id="id">{{ id }}</p>
      <p id="artid">{{ artid }}</p>
      <p id="pmc"> {{ pmc }} </p>
  </div>

  <script text="text/javascript" src="{{ url_for('static', filename='scripts/fix_title.js') }}"> </script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/pie_chart.js') }}"> </script>
</body>
</html>
