<!DOCTYPE html>
<html>
<head>
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='scripts/highlight.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/tabs.js') }}"> </script>

  </head>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav">

        <li id = "link_Statistics" class = "tablinks" onclick = "openTab(event, 'Statistics')"> <a href="#"> Statistics </a> </li>
        {% for tab in tabs %}
          <li id = 'link_{{ tab[0] }}' class="tablinks" onclick="openTab(event, '{{ tab[0] }}')"> <a href="#"> {{ tab[0] }} </a> </li>
        {% endfor %}

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Doctors <span class="caret"></span></a>
          <ul id = "doctors_selected" class="dropdown-menu">
            {% for name in doctor_names %}
              <li> <input id = '{{ name }}' type="checkbox" style = "margin-left: 5px;" checked/>&nbsp; {{ name }} </a> </li>
            {% endfor %}
          </ul>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Other Article <span class="caret"></span></a>
            <ul class="dropdown-menu" style = "max-height:600px; overflow-y: auto;">
              {% for name in ordering %}
              <li> <!-- http://ec2-18-219-1-213.us-east-2.compute.amazonaws.com:8082/annotate_full/ -->
                <a id = '{{ name }}' href="http://127.0.0.1:5000/annotate_full/{{ name }}"> {{ name }} </a>
              </li>
              {% endfor %}
            </ul>
        </li>


      </ul>
    </div>
  </nav>

  <!-- Initialize the tab with titles . -->
  <div>

    <div id = "Statistics" class = "tabcontent" style = "max-height: 700px; overflow: auto;">

      <div class = "column" style = "margin-left: 1%; float:left;">
        <b> Document answer: {{ answer }} </b>
        <br> <br>
        {%for d in doct_ans_names %}
          <b> {{ d[0] }}: </b> {{ d[1] }} <br>
        {% endfor %}
      </div>

      <div id="piechart" style = "float:left;"> </div>

      <div id = "Statistics_content">
      </div>

  </div>
    <!-- Create a place to put content for each tab. -->
    {%for tab in tabs %}
    <div id = '{{ tab[0] }}', class="tabcontent" style = "max-height: 700px; overflow: auto;">
    </div>
    {% endfor %}
  </div>

  <div class = "row">
    <label style = "margin-left: 45px; margin-top: 20px;">
      With respect to <b> <i> {{ outcome }}, </i> </b> characterize the
      reported difference between patients receiving <b> <i>
      {{ intervention }} </i> </b> and those receiving <b> <i> {{ comparator }}.
      </i> </b>
    </label>
  </div>

  <a href="#" id = "previous-but" class="previous" style= "position: fixed; bottom: 0%; right: 92.5%;" onclick = "previous()">&laquo; Previous</a>
  <a href="#" id = "next-but" class="next" style= "position: fixed; bottom: 0%; right: 1.5%;" onclick = "next()">Next &raquo;</a>

  <script>
    // Put the content into the first tab.
    var tab = {{ tabs|tojson }};
    breakDownText(tab);
    // Open the first tab.
    var tablinks = document.getElementsByClassName("tablinks");
    tablinks[0].click();
  </script>

  <script>

    function highlight_main() {

      // highlight the text_element
      var doct_reason = {{ doct_reason|tojson }};

      //console.log(doct_reason);
      //console.log(unnamed(doct_reason));

      highlight_all(doct_reason, getDoctorSelected());

      var add_to = document.getElementById("Statistics_content");
      add_to.innerHTML += "<b>Answer-key reasoning: {{ reasoning }}</b> <br>";
      // add in the beginnining section that has what everyone highlights
      for (var i = 0; i < doct_reason.length; i++) {
        add_to.innerHTML += "<b>" + doct_reason[i][0] +  "</b>" + ": " + doct_reason[i][1] + "<br>";
      }


    }

    highlight_main();

  </script>

  <script>
    // Put the doctor responses into storage.
    var elem = document.createElement('div');
    elem.dataset.pie = {{ doct_ans|tojson }};
    elem.id = "data-pie"
    document.body.appendChild(elem);
  </script>

  <div id="data-ordering" data-ordering={{ ordering|tojson|safe }}></div>
  <div id="artid" data-id = "{{ artid }}"> </div>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/pie_chart.js') }}"> </script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/next_prev_button.js') }}"> </script>

</body>
</html>
